 
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    justify-content: space-between;
}
header .recherche_conteneur{
    align-items:baseline;
}


#accueil{
    display: flex;
    flex-direction: row;
    list-style:none;
}
 #menu{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#menu > li {
    justify-content: flex-start;
}

.barre_navi ul{
    list-style: none;
}

.dropdown {
    position: relative;
    display: none;
    }
    
#menu > li:hover ul.dropdown {
    display: block;
}


.corp_page{   
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
}
#main {
    grid-column: 1;
    grid-row: 1 / span 3;;
}
#main_middle{
    display: flex;
    flex-direction: row;
}
#main_middle > div{
    display: flex;
    flex-direction: column;
}
#main_middle ul{
    list-style:none;
    display: block;
}

#lateral{
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

#lateral ul{
    list-style:none;
}

#lateral div{
    display: flex;
    flex-direction:column;
}
#footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    grid-gap: 20px 0px;
}
#footer li{
    list-style:none;
}

